name: Publish API Documentation

on:
  workflow_dispatch:

jobs:
  publish-apidocs:
    name: Publish API Documentation
    runs-on: ubuntu-latest
    env:
      MVN: ./mvnw --show-version --batch-mode --no-transfer-progress
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
          cache: maven
      - run: $MVN install
        working-directory: bom
      - run: |
          $MVN -Dquickly clean install
          $MVN -P snippets javadoc:aggregate
          $MVN -P snippets javadoc:javadoc
          $MVN -P snippets org.apache.maven.plugins:maven-antrun-plugin:run@copy-apidocs
      - uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          token: ${{ secrets.PUBLISH_CONTENT }}
          repository-name: patternfly-java/apidocs
          branch: gh-pages
          folder: ./target/reports/apidocs
          clean: true
          force: true
          single-commit: true
