name: Publish Showcase

on:
  workflow_dispatch:

jobs:
  publish-showcase:
    name: Publish Showcase
    runs-on: ubuntu-latest
    env:
      MVN: ./mvnw --show-version --batch-mode --no-transfer-progress
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: temurin
          cache: maven
      - run: $MVN --projects org.patternfly:patternfly-java-showcase-j2cl --also-make -P showcase,prod package
      - uses: JamesIves/github-pages-deploy-action@v4.6.1
        with:
          token: ${{ secrets.PUBLISH_CONTENT }}
          repository-name: patternfly-java/patternfly-java.github.io
          branch: main
          folder: ./showcase/j2cl/target/showcase
          clean: true
