name: Publish Showcase

on:
  workflow_dispatch:

jobs:
  publish-showcase:
    name: Publish Showcase
    runs-on: ubuntu-latest
    env:
      MVN: ./mvnw --show-version --batch-mode --no-transfer-progress
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
          cache: maven
      - run: $MVN install
        working-directory: bom
      - run: $MVN --projects org.patternfly:patternfly-java-showcase --also-make -P showcase,prod package
      - uses: JamesIves/github-pages-deploy-action@v4.7.4
        with:
          token: ${{ secrets.PUBLISH_CONTENT }}
          repository-name: patternfly-java/patternfly-java.github.io
          branch: gh-pages
          folder: ./showcase/target/showcase
          clean: true
          force: true
          single-commit: true
